doctype
html
	head
		title= title

		link(rel="stylesheet",
		     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
		     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
		     crossorigin="anonymous")

		link(rel="stylesheet",
		     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",
		     integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",
		     crossorigin="anonymous")

		link(rel="stylesheet",
		     href="/lab09.css")

		div(class="pageHeader")
			div
				img(src="images/dota-2-logo-only.png", alt="Dota 2 Logo", width="140", height="100")
				a(href="/") DOTA 2

		nav(class="navbar navbar-inverse navbar-default")
			div(class="container")
				div(class="navbar-header")
					button(type="button",
							class="navbar-toggle collapsed",
							data-toggle="collapse",
							data-target="#bs-example-navbar-collapse-1",
							aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand",href="#")
						span(class="logoText")

				div(class="collapse navbar-collapse",
				    id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li
							a(href="/") Home
						li
							a(href="/news") News
						li
							a(href="/checkUsername") Check Username
						li
							a(href="/help") Help

	body
		div
			div(class="header")
				h1 Overview
		div(class="body")
			p One Battlefield. Infinite Possibilities.
			p When it comes to diversity of heroes, abilities, and powerful items, Dota boasts an endless array—no two games are the same. Any hero can fill multiple roles, and there's an abundance of items to help meet the needs of each game. Dota doesn't provide limitations on how to play, it empowers you to express your own style.
			p For more information, visit the official <a href="http://www.dota2.com/play/" target="_blank">Dota 2</a> website.

		div
			div(class="header")
				h1 Rules
		div(class="body")
			p Dota 2 is a multiplayer online battle arena (MOBA) video game in which two teams of five players compete to collectively destroy a large structure defended by the opposing team known as the "Ancient", whilst defending their own. As in Defense of the Ancients, the game is controlled using standard real-time strategy controls, and is presented on a single map in a three-dimensional isometric perspective. Ten players each control one of the game's 115 playable characters, known as "heroes", with each having their own design, strengths, and weaknesses. Heroes are divided into two primary roles, known as the "carry" and "support". Carries, which are also called "cores", begin each match as weak and vulnerable, but are able to become more powerful later in the game, thus becoming able to "carry" their team to victory. Supports generally lack abilities that deal heavy damage, instead having ones with more functionality and utility that provide assistance for their carries. Players select their hero during a pre-game drafting phase, where they can also discuss potential strategies and hero matchups with their teammates.

		div
			div(class="header")
				h1 History
		div(class="body")
			p Defense of the Ancients (DotA) is a multiplayer online battle arena mod for the video game Warcraft III: Reign of Chaos and its expansion, Warcraft III: The Frozen Throne. The objective of the game is for each team to destroy their opponents' Ancient, a heavily guarded structure at the opposing corner of the map, which is based on the "Aeon of Strife" map for StarCraft. Players use powerful units known as heroes, and are assisted by allied teammates and AI-controlled fighters. As in role-playing games, players level up their heroes and use gold to buy equipment during the mission.
